header.header 
    nav.nav.nav--tours 
        a.nav__el(href="/") All Tours
    .header__logo 
        img(src="/img/logo-white.png", alt="Natours Logo")
    nav.nav.nav--user   
        button.nav__el Log in
        button.nav__el.nav__el--cta Sign up